.calc 
	background-image: url(../images/dist/bg-calc.jpg)
	background-position: top center
	background-repeat: no-repeat
	background-size: cover
	// &__title 
	&__title-description 
		font-size: 26px
		text-align: center
		line-height: 28px
		margin-bottom: 35px
		font-weight: 300
	&__inner 
		display: flex
		justify-content: space-between
	&__box 
		max-width: 654px
		width: 100%
	&__box-square
		margin-bottom: 8px
	&__box-square,
	&__box-package 
		border: 1px solid #fff
		border-radius: 4px
		padding: 20px 22px 24px 22px
	&__box-square
		padding-bottom: 10px
	&__square-title 
		margin-bottom: 30px
		font-size: 20px
		line-height: 24px
	&__input-inner
		display: flex
		justify-content: space-between 
		align-items: center
		position: relative
		&::before
			content: ''
			position: absolute
			width: 98%
			height: 9px
			opacity: 0.5
			border-radius: 4px
			background-color: #fff
			margin-left: 5px
			z-index: 1
	&__input-item 
		z-index: 2
		position: relative
		width: 43px
		height: 43px
		display: flex
		justify-content: center
		align-items: center
		cursor: pointer
		padding: 10px
		margin: 0 -10px
		&:first-child
			.radio__text
				left: 10px
		&:last-child
			.radio__visible
				right: 0
			.radio__text
				right: 10px
	&__input-radio 
		top: 0
		left: -9999px
		position: absolute
	&__input-radio:checked + .radio__visible
		background-color: #19b5fe
		width: 23px
		height: 23px
		&:before
			content: ""
			background-color: #fff
			border-radius: 50%
.radio
	&__visible
		width: 18px
		height: 18px
		background-color: #fff
		display: block
		border-radius: 50%
		position: relative
		display: flex
		justify-content: center
		align-items: center
		&:before
			content: ""
			width: 7px
			height: 7px
			transition: all .2s
	&__text
		position: absolute
		bottom: 35px
		width: max-content


.calc
	&__package-title 
		font-size: 20px
		line-height: 24px
		margin-bottom: 19px
	&__package-inner 
		display: flex
		justify-content: space-between
	&__backage-btn 
		background-color: transparent
		border: 1px solid #fff
		border-radius: 4px
		position: relative
		width: 31.9%
		padding: 13px 10px 
		font-size: 16px
		line-height: 17px
		transition: all ease .4s
		z-index: 1
		&:hover
			background-color: #19b5fe
			border-color: #19b5fe
			.calc__package-help 
				display: block
				opacity: 1
		&:first-child
			.calc__package-help 
				left: 0
				transform: translate(0)
				&::after
					left: 16%
		&:last-child
			.calc__package-help 
				right: 0
				transform: translate(0)
				left: auto
				&::after
					left: auto
					right: 16%
		&.active
			background-color: #19b5fe
			border-color: #19b5fe

	&__package-help 
		position: absolute
		top: 60px
		max-width: 443px
		width: 250%
		left: 50%
		transform: translate(-50%)
		background-color: #fff
		border-radius: 5px
		color: #464646
		padding: 21px 30px
		font-size: 14px
		line-height: 24px
		font-weight: 400
		transition: all ease .4s
		transition-delay: 3s
		display: none
		opacity: 0
		&::after
			content: ''
			position: absolute
			top: -26px
			left: 45%
			width: 0
			height: 0
			border-left: 26px solid transparent
			border-right: 26px solid transparent
			border-bottom: 26px solid #fff
			z-index: 5

	&__result 
		display: flex
		flex-direction: column
		align-items: center
		width: 100%
		max-width: 339px
		margin-right: 72px
		padding: 0 15px

		
	&__result-list 
		text-align: center
	&__result-item
		&:last-child
			.calc__result-data
				margin-bottom: 34px
	&__result-text 
		font-size: 16px
		line-height: 1
		margin-bottom: 10px
	&__result-text_last
		margin-bottom: 2px
		font-size: 14px
		font-weight: 300
	&__result-data 
		font-size: 32px
		line-height: 1
		margin-bottom: 20px
		display: block
	&__result-data>sup
		font-size: 18px
			
	&__result-btn 
		width: 100%
		border-radius: 50px
		height: 51px
		background-color: #19b5fe
		font-size: 14px
		margin-bottom: 20px
	&__result-phone 
		color: #fff
		text-decoration: none
		font-size: 18px
		font-weight: 500
		&:hover
			color: #fff
			text-decoration: underline




