.first-section
	padding: 160px 0 55px
	background-image: url(../images/dist/bg-first.jpg)
	background-position: top center
	background-repeat: no-repeat
	background-size: cover
	color: #fff
	text-align: center
	&__title
		font-family: Roboto
		font-size: 48px
		font-weight: 700
		max-width: 780px
		margin: auto
		margin-bottom: 35px
		line-height: 44px
		span
			font-size: 36px
	&__description
		font-size: 22px
		font-family: Roboto
		font-weight: 300
		margin-bottom: 40px

	&__form 
		display: flex
		justify-content: center
		max-width: 954px
		flex-wrap: wrap
		margin: auto
		margin-bottom: 20px
		position: relative
		&::before,
		&::after
			content: ''
			position: absolute
			width: calc( 50% - 460px )
			bottom: 30px
			top:30px
			opacity: .3
			border-top: 1px solid #fff
		&::before
			border-left: 1px solid #fff
			left: 0
		&::after
			border-right: 1px solid #fff
			right: 0

	&__form-name,
	&__form-email, 
	&__form-phone 
		width: 290px
		border: none
		border-radius: 50px
		padding: 15px 27px
		font-size: 13px
		font-weight: 300
		color: #606060
		margin: 0 4.5px
		margin-bottom: 21px
		position: relative
	
	&__form-btn 
		width: 232px
		height: 61px
		background-color: #19b5fe
		border-radius: 50px
		border: none
		color: #fff
		font-size: 16px
		font-weight: 500
		&::before,
		&::after
			content: ''
			position: absolute
			height: 1px
			background-color: #fff
			opacity: .3
			width: calc( 50% - 135px )
			bottom: 30px
		&::before
			left: 1px
		&::after
			right: 1px
		

			
	&__form-privacy 
		font-size: 14px
		font-weight: 300
		margin-bottom: 70px
	&__scroll-img 
		width: 17px