.how
	padding: 70px 0 65px
	// &__title
	// &__list
	&__item
		display: flex
		align-items: center
		&:nth-child(odd)
			.how__item-img
				order:1
			.how__item-title
				order: 2
		&:nth-child(even)
			.how__item-img
				order:2
			.how__item-title
				order: 1
	&__item-img
		max-width: 50%
	&__item-title
		text-align: center
		width: 100%
		max-width: 50%
		font-weight: 300
		font-size: 30px
		line-height: 38px
		padding: 0 10px
		margin: 0

@media ( max-width: 600px)
	.how__item-title
		font-size: 25px
		line-height: 30px
	.how
		padding: 45px 0
		.wrapper
			padding: 0 20px
@media ( max-width: 450px)
	.how__item-title
		font-size: 20px
		line-height: 25px
@media ( max-width: 380px)
	.how__item-title
		font-size: 16px
		line-height: 18px