.services 
	padding-bottom: 60px
	&__title 
		font-size: 30px
		font-weight: bold
		margin: 0
		text-align: center
		letter-spacing: 0.3px
		color:  $textcolor
		margin-bottom: 40px
	&__list 
		display: flex
		flex-wrap: wrap
	&__item
		width: 33.33% 
		margin: 40px 0
		padding: 0 30px
	&__item-link 
		text-decoration: none
		color: $textcolor
		transition: all .2s ease
		display: flex
		align-items: center

		&:hover
			color: #e61010

	&__item-img 
		margin-right: 30px
		max-width: 46px


	&__item-text 
		font-size: 16px
		font-weight: 300
		line-height: 1.38
		letter-spacing: 0.16px
		text-align: left
